/* UNCOMMENT THIS LINE TO ADD ANY BACKGROUND IN THE HEADER
DONT FORGET TO EDIT THE URL
.md-header,
.md-nav--primary .md-nav__title[for="__drawer"] {
 background: var(--md-primary-fg-color) url(background_image_link_here&auto=format&fit=crop&w=1074&q=80) left center/cover no-repeat;
}
*/


.admonition.example, details.example { border-color: #982c61!important; }
.example>.admonition-title, .example>summary {  background-color: #982c611a!important; }

/* note */
.admonition.note { border-color: #5794D0!important; }
.note>.admonition-title, .note>summary  { border-color: #5794D010!important; }
.note>.admonition-title::before,
.note>.admonition-title::after,
.note>summary::before,
.note>summary::after 
{  color: #5794D0!important; background-color: #5794D0!important; }



/* example */
.admonition.example, details.example { border-color: #9481CC!important; }
.example>.admonition-title, .example>summary {  background-color: #9481CC10!important; }
.example>.admonition-title::before,
.example>.admonition-title::after,
.example>summary::before,
.example>summary::after 
{  color: #9481CC!important; background-color: #9481CC!important; }


/* questions */
.admonition.question, details.question { border-color: #47A477!important; }
.question>.admonition-title,.question>summary {  background-color: #47A47710!important; }
.question>.admonition-title::before,
.question>.admonition-title::after,
.question>summary::before,
.question>summary::after 
{  color: #47A477!important; background-color: #47A477!important; }



/* warning */
.admonition.warning, details.warning { border-color: #BA823A!important; }
.warning>.admonition-title, .warning>summary {  background-color: #BA823A10!important; }
.warning>.admonition-title::before,
.warning>.admonition-title::after,
.warning>summary::before,
.warning>summary::after 
{  color: #BA823A!important; background-color: #BA823A!important; }





.md-typeset details.wiki,
.md-typeset .admonition.wiki {
    border-color: transparent;
    background-color: transparent;
}

.md-typeset .wiki>.admonition-title,
.md-typeset .wiki>.summary {
    display: none;
}

.md-typeset .wiki>.admonition-title::before {
    background-color: transparent;
    -webkit-mask-image: var(--md-admonition-icon--grid);
    mask-image: var(--md-admonition-icon--grid);
}

.admonition.wiki {
    float: left;
    margin-right: 0.8rem;
    margin-top: 0;
    width: 11.7rem;
}

.admonition.wiki h1 {
    text-align: center;
    padding-top: 0.5em;
    margin-bottom: 0;
}

.admonition.wiki thead {
    display: none;
}

.admonition.wiki td:first-child {
    font-weight: 600;
}

.admonition.wiki table {
    border: 0;
}