:root {
    /* --md-primary-fg-color: #765432; */
    --md-primary-fg-color: #38535f;
    --md-primary-fg-color--light: #765d53;
    --md-primary-fg-color--dark: #785347;
}


html {
    font-size: 22px;
}
body[data-md-color-scheme=default] {
    --md-default-bg-color: #fffcf5!important;
    --md-typeset-color: #000000de; 
    --md-accent-fg-color: #d71447;
    --md-accent-fg-color--transparent: #8d00001a; 
    --md-code-bg-color: #f7f6f5;
}
body[data-md-color-scheme=slate] {
    --md-default-bg-color: #262828!important;
    --md-accent-fg-color: #d71447;
    --md-accent-fg-color--transparent: #8d00001a; 
    --md-code-bg-color: #313131;  /* 202122 */
}
body {background-color: var(--md-default-bg-color);}

/* body header.md-header, .md-tabs { background-color: #7c654e; } */
/* body header.md-header, .md-tabs { background-color: #635343; } */
body header.md-header, .md-tabs { background-color: #293d46; } /* nice! Combine with Skura red, penumbra #303338 */
.md-header__topic:first-child { font-weight: 400; }
/* #554433 */

a[href]{ text-decoration: underline solid var(--md-primary-fg-color); text-underline-position: under; }
a[href^="#"] {text-decoration: none; }
a[href^="./#"] {text-decoration: none; }
a[href^="http://127"] {text-decoration: none; }
a[href^="https://brain"] {text-decoration: none; }
